/* Color themes - Rectangle */
.themeOrange {
  background-color: #ff6914;
  border: 1px solid #ff6914;
  border-radius: 0.125rem;
}

.themeLightGray {
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 0.125rem;
}

.themeBlack {
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
  border-radius: 0.125rem;
}

.themeDarkGray {
  background-color: #e5e5e5;
  border: 1px solid #f5f5f5;
  border-radius: 0.125rem;
}

/* Triangle base */
.triangle {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Triangle colors */
.triangleWhite {
  border-color: #ffffff #ffffff transparent #ffffff;
}

.triangleOrange {
  border-color: transparent transparent #ffffff #ffffff;
}

.triangleLightGray {
  border-color: transparent transparent #ffffff #ffffff;
}

.triangleBlack {
  border-color: transparent transparent #e5e5e5 #e5e5e5;
}

.triangleDarkGray {
  border-color: transparent transparent #525252 #525252;
}

/* Triangle sizes */
.triangleSizeSmall {
  border-width: 1.25rem 0 0 1.25rem;
  border-bottom-left-radius: 0.125rem;
}

.triangleSizeLarge {
  border-width: 2.5rem 0 0 2.5rem;
  border-bottom-left-radius: 0.125rem;
}

/* Shadows */
.shadowLight {
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
}

.shadowMedium {
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}

/* Animation */
.animated {
  --white: #ffffff;
  --neutral-100: #f5f5f5;
  transition: 0.3s;
}

.folding:hover {
  /* biome-ignore lint/complexity/noImportantStyles: TODO */
  background-color: var(--neutral-100) !important;
}

.folding::before,
.folding::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  width: 0;
  height: 0;
  transition: 0.3s;
  border-bottom-left-radius: 2px;
}

.folding::before {
  background: linear-gradient(
    -135deg,
    var(--white) 50%,
    var(--neutral-100) 50%
  );
}

.folding::after {
  background: linear-gradient(-135deg, transparent 50%, var(--neutral-100) 50%);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.folding:hover::before,
.folding:hover::after {
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
}

.unfolding::before,
.unfolding::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  transition: 0.4s;
  border-bottom-left-radius: 4px;
}

.unfolding::before {
  background: linear-gradient(
    -135deg,
    var(--white) 50%,
    var(--neutral-100) 50%
  );
}

.unfolding::after {
  background: linear-gradient(-135deg, transparent 50%, var(--neutral-100) 50%);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}

.unfolding:hover::before,
.unfolding:hover::after {
  width: 0;
  height: 0;
}
